
.test {
  color: #df6919;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;

  .logo {
    width: 50px;
    margin-left: 10px;
  }
}

.page-landing {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1 1 auto;
  }
}